datadog_api_key: "{{ lookup('env', 'datadog_api_key') }}"
ec2_user: "{{ lookup('env', 'ec2_user') }}"
ec2_ip: "{{ lookup('env', 'ec2_ip') }}"
ansible_user: "{{ lookup('env', 'ansible_user') }}"
remote_port: "{{ lookup('env', 'remote_port') }}"
local_port: "{{ lookup('env', 'local_port') }}"
runner_dir: "{{ lookup('env', 'runner_dir') }}" 
rpi_user: "{{ lookup('env', 'rpi_user') }}"
runner_token: "{{ lookup('env', 'runner_token') }}"
docker_username: "{{ lookup('env', 'docker_username') }}"
